# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]
uvicorn[standard]
gunicorn

asyncpg
sqlalchemy-cockroachdb

aiohttp
requests

sqlalchemy[asyncio]
sqlalchemy_utils

pydantic
starlette
strawberry-graphql
aiodataloader
pyjwt[crypto]

pyinstrument
prometheus_client
https://github.com/hrbolek/uoishelpers/archive/4e41615436d6effbe248d8503e4df373549bcec3.zip

pydantic-ai
pydantic-ai-slim[web]